<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063537168447-rsdbcmkb9fuqqgl6rbd2fjbbc12q4uif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063537168447-rsdbcmkb9fuqqgl6rbd2fjbbc12q4uif</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ_zGa55tKROD5wiwuAqZP9XzqEoQ8c-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1063537168447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mywall</string>
	<key>PROJECT_ID</key>
	<string>flutter-mywall-project-001</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mywall-project-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063537168447:ios:acacd65f58d1055783e88a</string>
</dict>
</plist>